@include theme() {
    &_modal {
        @include fixed;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: $color-modal;

        @include flex;
        @include transition;

        section {
            @include flex1;
            @include container(800px);
            @include relative;
        }

        .close_modal {
            background: none;
            border: none;
            cursor: pointer;
            color: $color-white;
            font-size: $font-size-big;

            @include absolute(-40px, unset);
            right: 20px;
        }

        &_content {
            @include flex1;

            &_embedded {
                @include embedded;

                iframe {
                    @include absoluteFull;
                    border: none;
                }
            }

            &_title {
                color: $color-white;
                margin-top: 20px;
            }
        }
    }
}