*, *::before, *::after {
    margin: 0;
    padding: 0;
    @include setBrowserPrefix(box-sizing, border-box);
}

body {
    background-color: $color-highlight;
    color: $color-shadow;
    font-family: $font-montserrat;
    height: 100vh;
    @include relative;
    @include backgroundImage("background.png", no-repeat, contain);
    @include transition;
    @include flex(flex-start, stretch, nowrap);
    @include column;
    
    &.dark-theme {
        background-color: $color-shadow;
        color: $color-white;
    }
}

main {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

label {
    cursor: pointer;
    display: block;
}

input {
    padding: 10px 0;
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    @include transition;
    @include containerFluid;
}

@include theme() {
    &button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-size: $font-size-default;
        font-family: inherit;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-white;
        border: none;
        background-color: $color-tertiary;
        cursor: pointer;
        overflow: hidden;
        @include relative;

        &::before {
            @include absolute(50%, -25%);
            @include transition;
            content: "";
            transform: translateY(-50%) rotate(20deg);
            width: 10%;
            height: 250%;
            opacity: 0.7;
            filter: blur(10px);
            background-color: $color-white;
        }

        &:hover {
            &::before {
                left: 125%;
            }
        }
    }
}