/* Reset Config */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {    
    font-family: $font-monserrat;
}

img {
    display: block;
    width: 100%;
}

input, button {
    font-family: inherit;
}