/* MAIN CONTENT */
main {
    @include content-full;

    & * {
        @include transition;
    }

    .main-content {
        @include content;
        @include relative;
        height: 100%;

        &.list {
            .main_search {
                margin: 0;
                width: 100%;
                height: 20%;

                form {
                    flex-wrap: nowrap;
                    justify-content: flex-start;

                    padding: {
                        top: 40px;
                        right: 20px;
                        bottom: 0;
                        left: 20px;
                    };
                    
                    width: 100%;
                    left: 0;
                    top: 0;
                    transform: translate(0, 0);

                    @include set-responsive-design(540px, (
                        flex-wrap: wrap
                    ));

                    &>* {
                        @include flex-basis(unset);
                        font-size: calc($font-size-small * 0.8);

                        @include set-responsive-design(540px, (
                            flex-basis: 100%
                        ));
                    }

                    label {
                        width: 300px;
                        margin: 0;

                        input {
                            &:valid,
                            &:focus {
                                &~span {
                                    top: -25%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main_search {
            padding: 0 20px;

            @include absolute-full;

            form {                

                @include flex;
                gap: 10px;

                @include absolute-center;                
                width: 500px;
                height: auto;               

                font-size: $font-size-big;

                @include set-responsive-design(1440px, (width: 50%));

                @include set-responsive-design(900px, (font-size: $font-size-default));

                @include set-responsive-design(768px, (
                    flex-basis: 100%,
                    width: 100%,
                    padding: 0 20px
                ));

                &>* {
                    @include flex-1;
                }

                label {
                    @include relative;
                    height: 40px;
                    margin-bottom: 20px;

                    @include flex;

                    cursor: pointer;

                    &>* {
                        @include absolute;
                        font-size: inherit;
                        cursor: inherit;
                    }

                    input {
                        background: transparent;
                        box-shadow: none;

                        padding: 20px 0;

                        width: 100%;
                        height: 100%;

                        &:valid,
                        &:focus {
                            &~span {
                                top: -50%;
                                font-size: $font-size-small;
                            }


                            &~.bottom-bar {
                                transform: scaleX(1);
                            }
                        }
                    }

                    span {
                        @include flex;
                        justify-content: flex-start;

                        @include absolute-center;
                        width: 100%;

                        color: $color-shadow;

                        pointer-events: none;

                        @include set-responsive-design(900px, (
                            text-align: center
                        ));
                    }

                    .bottom-bar {
                        @include absolute;
                        top: unset;
                        bottom: 0;
                        width: 100%;
                        height: 3px;

                        background-color: $color-shadow;

                        transform-origin: left;
                        transform: scaleX(0);

                        @include transition(transform);
                    }
                }

                button {
                    font-size: inherit;
                }
            }
        }

        .band-list {
            @include absolute-full;
            top: unset;
            bottom: 0;
            overflow: hidden;

            padding: 0 20px;

            .back {
                @include button;
                font-size: $font-size-small;

                @include absolute;
                width: auto;
                height: auto;
                left: unset;
                right: 20px;

                @include set-responsive-design(540px, (
                    position: static,
                    font-size: calc($font-size-small * 0.8),
                    margin-bottom: 10px
                ));
            }

            &-title {
                font-size: $font-size-big;
                padding-bottom: 20px;

                &:hover ~ .band-list-content-desc {
                    @include set-responsive-design(540px, (
                        padding-top: 20px,
                        padding-bottom: 20px,
                        height: auto
                    ));
                }
            }

            &-content {
                @include flex;
                align-items: flex-start;

                &-desc {
                    @include flex-basis(25%, 40px);
                    margin-right: 40px;

                    @include transition;

                    @include set-responsive-design(900px, (
                        flex-basis: 100%,
                        padding-bottom: 20px,
                        margin-right: 0
                    ));

                    @include set-responsive-design(540px, (
                        padding: 0 20px,
                        position: absolute,
                        width: 100%,
                        height: 0,
                        overflow: hidden,
                        background-color: $color-highlight
                    ));
                }

                &-videos {
                    @include flex-basis(75%);

                    @include flex;
                    gap: 40px;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    overflow-y: auto;

                    height: 100%;                    

                    @include set-responsive-design(900px, (
                        flex-basis: 100%
                    ));

                    &-item {
                        @include flex;
                        gap: 20px;
                        flex-wrap: nowrap;
                        align-items: flex-start;

                        &-thumb {
                            @include flex-basis(360px);
                        }

                        @include set-responsive-design(700px, (
                            flex-wrap: wrap
                        ));

                        &-info {
                            padding-right: 20px;

                            a {
                                color: $color-shadow;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            &-title,
                            &-desc,
                            &-postby {
                                margin-bottom: 10px;
                                font-size: $font-size-small;
                            }
                        }
                    }
                }
            }
        }
    }
}