// COLOR THEME
$color-primary: #F20505;
$color-secondary: #1C228C;
$color-tertiary: #593622;

$color-highlight: #F2F2F2;
$color-shadow: #0D0D0D;

// FONTS - Source: fonts.google.com
// Montserrat
$font-monserrat: 'Montserrat', sans-serif;
$font-preset-montserrat: (
    weights: (300, 400, 500, 700),
    family: $font-monserrat,
    files: ("Montserrat-Light.ttf", "Montserrat-Regular.ttf", "Montserrat-Medium.ttf", "Montserrat-Bold.ttf"),
    path: ("Montserrat/static"),
    format: ("truetype")
);

// Kaushan Script
$font-kaushan: 'Kaushan Script', cursive;
$font-preset-kaushan: (
    weights: 400,
    family: $font-kaushan,
    files: ("KaushanScript-Regular.ttf"),
    path: ("Kaushan_Script"),
    format: ("truetype")
);

$fonts: $font-preset-montserrat, $font-preset-kaushan;