/* FONTS CONFIG */
/* ------------ */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Kaushan Script", cursive;
  src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
  font-weight: 400;
}
/* BOOT CONFIG */
/* ----------- */
/* Reset Config */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

input, button {
  font-family: inherit;
}

/* THEME CONFIG */
/* ------------ */
body {
  background-color: #F2F2F2;
  color: #0D0D0D;
  min-height: 100vh;
  transition: all 0.5s ease;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100%;
}
body *::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
body *::-webkit-scrollbar-thumb {
  background-color: #0D0D0D;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
body.dark {
  background-color: #0D0D0D;
  color: #F2F2F2;
}
body.dark input {
  color: inherit;
}
body.dark input ~ span {
  color: #F2F2F2 !important;
}
body.dark input ~ .bottom-bar {
  background-color: #F2F2F2 !important;
}
body.dark a {
  color: inherit !important;
}
body.dark .main_header_content_switch_theme .switch > i {
  background-color: #F2F2F2;
}
body.dark .main_header_content_switch_theme .switch > i::before {
  border: 3px solid #F2F2F2;
  background-color: #0D0D0D;
}
body.dark .main_header_content_switch_theme_card .img {
  border: 2px solid #F2F2F2;
}
body.dark .main_header_content_switch_theme_card .img::before {
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
}
body.dark *::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
}
body input[type=text] {
  padding: 8px 36px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
body button {
  display: inline-block;
  padding: 8px 36px;
  background-color: #593622;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}
body button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -30%;
  top: -50%;
  bottom: -50%;
  z-index: -1;
  width: 40px;
  height: 200%;
  transform: rotate(30deg);
  filter: blur(4px);
  background-color: #F2F2F2;
  opacity: 0.4;
  transition: all 0.5s ease;
}
body button:hover::before {
  left: 120%;
}
body button i {
  margin-right: 10px;
}

/* Loading Bars */
.load-screen {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}
.load-screen .loading {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}
.load-screen .loading-bar {
  flex-basis: calc(25% - 2px);
  height: 100%;
  background-color: #593622;
  animation: loading-bar 1s infinite ease-in;
}
.load-screen .loading-bar.bar-1 {
  animation-delay: 0.2s;
}
.load-screen .loading-bar.bar-2 {
  animation-delay: 0.4s;
}
.load-screen .loading-bar.bar-3 {
  animation-delay: 0.6s;
}
@keyframes loading-bar {
  0% {
    transform: scaleY(1);
  }
  33.3333333333% {
    transform: scaleY(2.5);
    opacity: 0.7;
  }
  66.6666666667% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* HEADER */
.main_header {
  width: 100%;
  max-width: 100vw;
  padding: 20px 0;
}
.main_header_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.main_header_content_logo {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main_header_content_logo a {
  flex-basis: 25%;
}
.main_header_content_logo a h1 {
  display: none !important;
}
.main_header_content_logo a img {
  transition: all 0.5s ease;
  width: 160px;
}
.main_header_content_switch_theme {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}
.main_header_content_switch_theme .switch {
  position: relative;
  transition: all 0.5s ease;
}
.main_header_content_switch_theme .switch > i {
  width: 60px;
  height: 30px;
  background-color: #0D0D0D;
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  position: relative;
}
@media (max-width: 480px) {
  .main_header_content_switch_theme .switch > i {
    width: 40px;
    height: 20px;
  }
}
.main_header_content_switch_theme .switch > i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid #0D0D0D;
  background-color: #F2F2F2;
  transition: left 0.5s ease-out;
}
@media (max-width: 480px) {
  .main_header_content_switch_theme .switch > i::before {
    width: 20px;
    height: 20px;
  }
}
.main_header_content_switch_theme .switch > i.turned-on::before {
  left: calc(100% - 30px);
}
@media (max-width: 480px) {
  .main_header_content_switch_theme .switch > i.turned-on::before {
    left: calc(100% - 20px);
  }
}
.main_header_content_switch_theme_card {
  position: absolute;
  top: 0;
  left: 0;
  top: 150%;
  left: unset;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease;
}
.main_header_content_switch_theme_card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 4px solid #0D0D0D;
}
.main_header_content_switch_theme_card .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(45deg);
  background-color: #0D0D0D;
  border-radius: 0 50% 50% 50%;
  -moz-border-radius: 0 50% 50% 50%;
  -webkit-border-radius: 0 50% 50% 50%;
  border: 2px solid #0D0D0D;
}

/* MAIN CONTENT */
main {
  width: 100%;
  max-width: 100vw;
}
main * {
  transition: all 0.5s ease;
}
main .main-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  height: 100%;
}
main .main-content.list .main_search {
  margin: 0;
  width: 100%;
  height: 20%;
}
main .main-content.list .main_search form {
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  width: 100%;
  left: 0;
  top: 0;
  transform: translate(0, 0);
}
@media (max-width: 540px) {
  main .main-content.list .main_search form {
    flex-wrap: wrap;
  }
}
main .main-content.list .main_search form > * {
  flex-basis: unset;
  font-size: 0.64em;
}
@media (max-width: 540px) {
  main .main-content.list .main_search form > * {
    flex-basis: 100%;
  }
}
main .main-content.list .main_search form label {
  width: 300px;
  margin: 0;
}
main .main-content.list .main_search form label input:valid ~ span, main .main-content.list .main_search form label input:focus ~ span {
  top: -25%;
}
main .main-content .main_search {
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .main-content .main_search form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  font-size: 1.4em;
}
@media (max-width: 1440px) {
  main .main-content .main_search form {
    width: 50%;
  }
}
@media (max-width: 900px) {
  main .main-content .main_search form {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  main .main-content .main_search form {
    flex-basis: 100%;
    width: 100%;
    padding: 0 20px;
  }
}
main .main-content .main_search form > * {
  flex-basis: 100%;
}
main .main-content .main_search form label {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
main .main-content .main_search form label > * {
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  cursor: inherit;
}
main .main-content .main_search form label input {
  background: transparent;
  box-shadow: none;
  padding: 20px 0;
  width: 100%;
  height: 100%;
}
main .main-content .main_search form label input:valid ~ span, main .main-content .main_search form label input:focus ~ span {
  top: -50%;
  font-size: 0.8em;
}
main .main-content .main_search form label input:valid ~ .bottom-bar, main .main-content .main_search form label input:focus ~ .bottom-bar {
  transform: scaleX(1);
}
main .main-content .main_search form label span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #0D0D0D;
  pointer-events: none;
}
@media (max-width: 900px) {
  main .main-content .main_search form label span {
    text-align: center;
  }
}
main .main-content .main_search form label .bottom-bar {
  position: absolute;
  top: 0;
  left: 0;
  top: unset;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #0D0D0D;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
main .main-content .main_search form button {
  font-size: inherit;
}
main .main-content .band-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: unset;
  bottom: 0;
  overflow: hidden;
  padding: 0 20px;
}
main .main-content .band-list .back {
  display: inline-block;
  padding: 8px 36px;
  background-color: #593622;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  left: unset;
  right: 20px;
}
main .main-content .band-list .back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -30%;
  top: -50%;
  bottom: -50%;
  z-index: -1;
  width: 40px;
  height: 200%;
  transform: rotate(30deg);
  filter: blur(4px);
  background-color: #F2F2F2;
  opacity: 0.4;
  transition: all 0.5s ease;
}
main .main-content .band-list .back:hover::before {
  left: 120%;
}
main .main-content .band-list .back i {
  margin-right: 10px;
}
@media (max-width: 540px) {
  main .main-content .band-list .back {
    position: static;
    font-size: 0.64em;
    margin-bottom: 10px;
  }
}
main .main-content .band-list-title {
  font-size: 1.4em;
  padding-bottom: 20px;
}
@media (max-width: 540px) {
  main .main-content .band-list-title:hover ~ .band-list-content-desc {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
}
main .main-content .band-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
main .main-content .band-list-content-desc {
  flex-basis: calc(25% - 40px);
  margin-right: 40px;
  transition: all 0.5s ease;
}
@media (max-width: 900px) {
  main .main-content .band-list-content-desc {
    flex-basis: 100%;
    padding-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  main .main-content .band-list-content-desc {
    padding: 0 20px;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #F2F2F2;
  }
}
main .main-content .band-list-content-videos {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
}
@media (max-width: 900px) {
  main .main-content .band-list-content-videos {
    flex-basis: 100%;
  }
}
main .main-content .band-list-content-videos-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: flex-start;
}
main .main-content .band-list-content-videos-item-thumb {
  flex-basis: 360px;
}
@media (max-width: 700px) {
  main .main-content .band-list-content-videos-item {
    flex-wrap: wrap;
  }
}
main .main-content .band-list-content-videos-item-info {
  padding-right: 20px;
}
main .main-content .band-list-content-videos-item-info a {
  color: #0D0D0D;
}
main .main-content .band-list-content-videos-item-info a:hover {
  text-decoration: underline;
}
main .main-content .band-list-content-videos-item-info-title, main .main-content .band-list-content-videos-item-info-desc, main .main-content .band-list-content-videos-item-info-postby {
  margin-bottom: 10px;
  font-size: 0.8em;
}

/* FOOTER */
.main_footer {
  width: 100%;
  max-width: 100vw;
  padding: 20px 0;
}
.main_footer p {
  text-align: center;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
