@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  color: #0D0D0D;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  position: relative;
  background-image: url("../../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease 0s;
}
body.dark-theme {
  background-color: #0D0D0D;
  color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.bs-header {
  width: 100%;
  padding-block: 20px;
}
.bs-header__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.bs-header__logo h1 {
  display: none;
}
.bs-header__logo img {
  width: 120px;
  transition: all 0.5s ease 0s;
}
@media screen and (min-width: 576px) {
  .bs-header__logo img {
    width: 160px;
  }
}
.bs-header__theme {
  position: relative;
}
.bs-header__theme-switch {
  width: 40px;
  height: 20px;
  background-color: #0D0D0D;
  cursor: pointer;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}
@media screen and (min-width: 576px) {
  .bs-header__theme-switch {
    width: 60px;
    height: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}
.bs-header__theme-switch::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F2F2F2;
  border: 2px solid #0D0D0D;
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.5s ease 0s;
}
@media screen and (min-width: 576px) {
  .bs-header__theme-switch::before {
    width: 30px;
    height: 30px;
    border-width: 4px;
  }
}
.bs-header__theme-switch:hover ~ .bs-header__theme-card {
  display: block;
}
.bs-header__theme-card {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border: 2px solid #0D0D0D;
  background-color: #0D0D0D;
  z-index: 1;
  display: none;
}
.bs-header__theme-card::before {
  position: absolute;
  top: -8px;
  left: 50%;
  transition: all 0.5s ease 0s;
  transform: translateX(-50%) rotate(45deg);
  content: "";
  width: 20px;
  height: 20px;
  background-color: #0D0D0D;
}
.bs-header__theme-card img {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
}

.dark-theme .bs-header__theme-switch {
  background-color: #F2F2F2;
}
.dark-theme .bs-header__theme-switch::before {
  background-color: #0D0D0D;
  border-color: #F2F2F2;
  transform: translateX(100%);
}
.dark-theme .bs-header__theme-card {
  border-color: #F2F2F2;
  background-color: #F2F2F2;
}
.dark-theme .bs-header__theme-card::before {
  background-color: #F2F2F2;
}